.title {
	font-size:1px; 
}
.section-name {
	color: red; 
}
.publish-date {
	font-size: 0.8em; 
}
.picture{
	width: 100%; 
	padding: 0.5em; 
}

.news-content1{

.section-name {
	font-size: 0.8em; 
}
.webTitle1 {
	font-size: 1em; 
}
.publish-date {
	font-size: 0.6em; 
}
}

.webTitle2 {
	font-size:0.7em; 
}
