<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link">The Guardian</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">  
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/news']"  routerLinkActive="active" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/news/commentisfree']" routerLinkActive="active" >Opinion</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" [routerLink]="['/news/sport']"  routerLinkActive="active" >Sport</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" [routerLink]="['/news/culture']" routerLinkActive="active" >Culture</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" [routerLink]="['/news/lifeandstyle']" routerLinkActive="active" >Lifestyle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/news/business']" routerLinkActive="active" >Business</a>
    </li>
  </ul>
</nav>
